/* 
    Created on : 18/01/2019, 10:44:41 PM
    Author     : kevin
*/
body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #f2f2f2;
    overflow: hidden;
}
.menu-auditor{
    top: 50px;
    height: 100px;
    border-bottom: 1px solid #c6cfd7 !important;
}
.menu-card{
    float: left;
    padding-top: 12px;
    position: relative;
}
#body-spider{
    position: relative;
    width: 754px;
}
#body-spider div.spd-credito{
    top: 0px;
    right: 0px;
}
#body-spider div.spd-spider{
    right: calc((754px - 150px) / 2);
}
#body-spider div.spd-debito{
    top: 0px;
    left: 0px;
}
#body-spider .spider-linea {
    width: 153px;
    background: linear-gradient(to top right, transparent calc(50% - 1px), #aaa, transparent calc(50% + 1px));
    position: absolute;
}
#body-spider div[class^='spd']{
    border: 1px solid #777;
    height: 30px;
    width: 150px;
    padding: 5px;
    font-size: 12px;
    position: absolute;
    font-stretch: ultra-condensed;
}
.no-seleccionable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
.menu-card-icon,
.menu-card{
    color: #485668;
}
.menu-card span.item-disabled{
    cursor: default;
}
.menu-card span:not([class="item-disabled"]){
    cursor: pointer;    
}
.menu-card span{
    user-select: none;
    font-size: 12px;
    margin: 0px 5px 8px 5px;
    white-space: nowrap;
    padding: 0px 5px;
    border: 1px solid #fff;
}
.menu-card-icon > div.titulo{
    bottom: -15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;     
}
.menu-card > div.titulo{
    bottom: -23px;    
}
.menu-card-icon > div.titulo,
.menu-card > div.titulo{
    width: 100%;
    font-size: 12px;
    color: #777;
    position: absolute;
    left: 0px;
    text-align: center;
    white-space: nowrap;
}
.menu-card .item-disabled,
.menu-card-icon .item-disabled{
    color: #C6CFD7;
}
.menu-card div{
    margin-bottom: 7px;
    float: left;
    padding: 0px 5px;
}
.bg-auditor .nav-link{
    outline: none;
    font-size: 13px;
}
.menu-separador{
    height: 86px;
    border-left: 1px solid #B0B0B0;
    float: left;
    width: 1px;
    margin: 2px 10px 0px 10px;
}
.menu-card-icon .icono:hover:not([class*="item-disabled"]),
.menu-card span:hover:not([class="item-disabled"]){
    border-radius: 3px;
    background-color: #f3f6f6;
    border: 1px solid #eae8e6;
}
.menu-card-icon .icono:active:not([class*="item-disabled"]),
.menu-card span:active:not([class="item-disabled"]){
    background-color: #eef1f1;
    border: 1px solid #eae8e6;
}
.menu-card-icon:not([class*="item-disabled"]){
    cursor: pointer;
}
.menu-card-icon .item-disabled{
    cursor: default;
}
.menu-card-icon{
    padding-top: 5px;
    text-align: center;
    float: left;

    position: relative;
}
.menu-card-icon .icono{
    float: left;
    margin-bottom: 7px;
    padding: 0px 10px;
    border: 1px solid #fff;
}
.bg-auditor .nav-pills .nav-link.active, 
.bg-auditor .nav-pills .show > .nav-link{
    background-color: #fff;
    color: #777 !important;
}
#pills-tab li{
    position: relative;
}
#pills-tab li a.active::after {
    position: absolute;
    content: " ";
    background-color: #fff;
    width: 100%;
    bottom: -10px;
    height: 15px;
    left: 0px;
}
.menu-card-icon i{
    font-size: 32px;
    display: table-row;
    line-height: 1.4;
}
.menu-card-icon span{
    font-size: 12px;
    display: table-row;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
div.navbar *::-moz-selection {
    background: none !important;
}
div.navbar *::selection {
    background: none !important;
}
.navbar {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;    
}
.btn-icon:hover{
    background-color: #32699e;
}
.btn-icon{
    cursor: pointer;
    padding: 5px 5px;
    border-radius: 3px;
}
.wrapper a,
.wrapper a:hover,
.wrapper a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.navbar {
    padding: 5px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}
.bg-auditor a{
    color: #fff !important;
}
.bg-auditor {
    background-color: #16457A !important;

}
#sidebar .card-body{
    padding: 0.5rem;
}
#sidebar .card{
    margin: 10px;
    color: #262d33;
}

#sidebar:not([class="propiedades"]) {
    width: 300px;
    position: fixed;
    top: 150px;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #4980b5;
    color: #fff;
    transition: all 0.3s;
}
#sidebar.propiedades {
    width: 250px;
    position: fixed;
    top: 150px;
    right: 0;
    height: 100vh;
    z-index: 999;
    background: #4980b5;
    color: #fff;
    transition: all 0.3s;
}
#sidebar .accordion{
    font-size: 14px;
}
#sidebar .card-header{
    padding: 0px;
}
#sidebar button{
    font-size: 14px !important;
}
#sidebar button{
    vertical-align: top;
    width: 100%;
}
#sidebar .btn.focus, 
#sidebar .btn:focus{
    box-shadow: none;
}
#sidebar.active {
    margin-left: -300px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #414D58;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #262d33;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul:not([class*="jstree"]) li:not([class*="jstree"]) a:not([class*="jstree"]) {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul:not([class*="jstree"]) li:not([class*="jstree"]) a:hover {
    color: #7386D5;
    background: #414d58;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6194C1;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul:not([class*="jstree"]) ul:not([class*="jstree"]) a:not([class*="jstree"]) {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #414d58;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a:not([class*="jstree"]) {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 550px);
    padding: 10px;
    min-height: calc(100vh - 150px);
    transition: all 0.3s;
    position: absolute;
    top: 150px;
    right: 250px;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -300px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 300px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

.propiedades  ul {
    list-style: none;
    padding: 0;
}
.propiedades  li {
    padding-left: 1.3em;
}
.propiedades  li:before {
    content: "\f1b2"; /* FontAwesome Unicode */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
}
#nav-tab a{
    outline: none;
}
#nav-tabContent{
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #fff #dee2e6 #dee2e6;
    padding: 20px;
}
div.scrollTable{
    overflow-y: auto;
    height: calc(100vh - 295px);
}
.jq-toast-loader{
    display: none;
}
.selec-empresa{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.tab-content{
    font-size: 12px !important;
}
#nav-tabContent{
    border-color: #fff #a7abaf #a7abaf;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border-color: #a7abaf #a7abaf #fff;
}
.nav-tabs {
    border-bottom: 1px solid #a7abaf;
}
.dataTables_filter{
    white-space: nowrap;
    text-align: right !important;
}
.pagination{
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;    
}
#table-empresas .custom-control-label{
    width: 100%;
    cursor: pointer;
    padding-top: 3px;
}
.tab-content ul.nav{
    margin-bottom: 10px;
    background-color: #e8e8e8;
    border-radius: 3px;
}
#empresaActiva label{
    width: 100%;
    margin: 0px;
}
#empresaActiva{
    font-size: 12px;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100px;
    width: 500px;
    padding: 10px;
    text-align: right;
}
.jq-toast-single {
    background-color: #2B2B2B;
    padding: 15px;
    font-size: 1rem;
    border-radius: 3px;
    line-height: 1.4rem;
}
.jq-toast-wrap {
    width: 400px;
}
.table td{
    white-space: nowrap;
}
.modal-header{
    background-color: #E8E8E8;
    padding: 0.5rem 1rem;
}
.modal-body{
    font-size: 14px;
}
.modal-header .close{
    padding: 1.2rem 1rem;
    outline: none;
}
.digito-benford {
    font-weight: 800;
    color: #ff7500;
    text-decoration-line: underline;
    text-decoration-style: double;
}
ul.nav .active{
    background-color: #ccc;
}
#content.maximizar .scrollTable{
    height: calc(100vh - 135px);
}
#content.maximizar nav{
    display: none;
}
.maximizar {
    top: 40px !important;
    left: -10px;
    width: calc(100% + 20px) !important;
    height: 100vh;
    z-index: 2000;
}